*{
    margin: 0px;
    padding: 0px;
} 

html{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.ellipse{
    overflow: hidden;
    height: 900px;
    top: -500px;
    width: 980px;
    right: -90px;
    background-color: #57af27;
    border-radius: 50%;
    position: absolute;
}
