*{
    margin: 0px;
    padding: 0px;
} 

html{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.ellipse{
    overflow: hidden;
    height: 900px;
    top: -500px;
    width: 980px;
    right: -90px;
    background-color: #57af27;
    border-radius: 50%;
    position: absolute;
}


.circle-dashed{
    position: absolute;
    border-radius:50%;
    width:500px;
    height:500px;
    border:1px dashed greenyellow;
    z-index: 1;
    bottom: -250px;
    right: 24%;
}

.navigation{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-top: 20px;

 }

 ul{
    margin: 0;
    
}

li{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

nav>ul>li>a {
    margin: 10px;
    position: relative;
    bottom: 40px;
   text-decoration: none;
   display: inline;
   color: black;
}

.hero-section{
    background-color: lightgray;
    height: 100vh;
}

.content{
    max-width: 380px;
    margin-left: 7em;
    margin-top: 40px;
} 

button{
    padding: 10px 30px;
    border: 0px;
    border-radius: 60px;
    margin-top: 20px;
    background-color:  #6CB840;
    color: white;
} 

.big-image > img{
    position: absolute;
    height: 280px;
    right: 250px;
    top: 250px;
}