*{
    margin: 0px;
    padding: 0px;
} 

html{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}